<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cuadro de activos, pasivos, ingresos y gastos</title>

    <style type="text/css">
        table { border:1px solid black; width: 100%; }
        .tablaTransacc { background-color:#eee;border-collapse:collapse; }
        .tablaTransacc th { background-color:#000;color:white; }
        .tablaTransacc td, .tablaTransacc th { padding:5px;border:1px solid #000; }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        {% for item in data %}
            {% for categoria, tags in item.1.data.items %}
                {% for tag, _ in tags.data.items %}
                    $(".mostrar_{{ tag|slugify }}").click(function(){
                        $(".{{ tag|slugify }}").toggle();
                    });
                {% endfor %}
            {% endfor %}
        {% endfor %}
    });
    </script>
</head>
<body>
Total General: {{ total|floatformat:2 }}
<br />
<br />
    {% for item in data %}
        <table>
        <tr>
            <td style="background-color:LawnGreen" >
                <table>
                    <tr>
                        <td align="left">
                            {{ item.0 }}s
                        </td>
                        <td align="right">
                            total: {{ item.1.total|floatformat:2 }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {% for categoria, tags in item.1.data.items %}
            <tr>
                <td style="background-color:yellow">
                    <table>
                        <tr>
                            <td align="left">
                                {{ categoria }}
                            </td>
                            <td align="right">
                                total: {{ tags.total|floatformat:2 }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% for tag, transacciones in tags.data.items %}
                <tr>
                    <td>
                        <table>
                    <tr>
                        <td>
                        {{ tag }}
                    </td>
                    <td>
                        total: {{ transacciones.total|floatformat:2 }}
                    </td>
                    <td>
                        {{ transacciones.data|length }}
                        {% if transacciones.data|length != 1 %}
                        transacciones.
                        {% else %}
                        transacci&oacute;n.
                        {% endif %}
                    </td>
                    <td>
                        <button class="mostrar_{{ tag|slugify }}">Ver / ocultar</button>
                        </td>
                    </tr>
                </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="{{ tag|slugify }} tablaTransacc">
                            <tr>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Descripci&oacute;n
                                </th>
                                <th>
                                    Importe
                                </th>
                                <th>
                                    Cuenta
                                </th>
                                <th>
                                    Tipo
                                </th>
                            </tr>
                            {% for transaccion in transacciones.data %}
                                <tr>
                                    <td>
                                        {{ transaccion.normalizedDate|date:"d/M/Y" }}
                                    </td>
                                    <td>
                                        {{ transaccion.description }}
                                    </td>
                                    <td>
                                        {{ transaccion.amount }}
                                    </td>
                                    <td>
                                        {{ transaccion.accountId }}
                                    </td>
                                    <td>
                                        {{ transaccion.transactionType }}
                                    </td>
                            {% empty %}
                                <tr>
                                    <td>
                                        -
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>
                        -
                    </td>
                </tr>
            {% endfor %}
        </td>
    </tr>
    {% empty %}
        <tr>
            <td>
                -
            </td>
        </tr>
    {% endfor %}
            </td>
        </tr>
    </table>
    <br />
    {% empty %}
        <tr>
            <td>
                -
            </td>
        </tr>
    {% endfor %}

{# For debug: <textarea onclick="this.focus();this.select()" style="width: 100%;" rows="20"> {% filter force_escape %} {% debug %} {% endfilter %}</textarea> #}

</body>
</html>