<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ "action"|title }}</title>
</head>
<body>

{# For debug: <textarea onclick="this.focus();this.select()" style="width: 100%;"> {% filter force_escape %} {% debug %} {% endfilter %}</textarea> #}

{{ Accounts }} synced.
Status: {{ status }}
data: {{ data }}
deleted: {{ deleted }}
{% if qdata %}
<form method="post" action="">
    {% csrf_token %}
    {{ editData }}
    {{ formset.non_field_errors }}
    {{ formset.management_form }}
    <table>
        {% for field in qFieldNames %}
                <td>{{ field }}</td>
            {% endfor %}
        {% for qs, form in qdata %}
            <tr>
            {% for value in qs.get_fieldValues %}
                <td>{{ value }}</td>
            {% endfor %}
            {% for field in form %}
                <td>
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Grabar">
      </form>
{% endif %}
</body>
</html>